@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';

body {
  font: var(--font-m);
  color: var(--text-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.main-content {
  display: flex;
  position: relative;
}