.InputWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--text-color);
}

.input {
  background: transparent;
  outline: none;
  width: 100%;
  color: inherit;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  padding: 5px 7px;

  &:focus {
    outline: none;
  }
}

.hasError {
  border-color: var(--error-color);
}

