.app.dark {
  --bg-color: hsla(210, 4%, 10%, 1);
  --bg-color-inverted: hsla(0, 0%, 94%, 1);

  --primary-color: rgb(97, 168, 255);
  --secondary-color: rgb(97, 168, 255);

  --text-color: rgb(201, 201, 201);
  --text-color-light: hsla(0, 0%, 98%,1);
}