.app_theme_light {
  --bg-color: hsla(0, 0%, 94%, 1);
  --bg-color-inverted: hsla(210, 4%, 10%, 1);

  --primary-color: hsl(147, 13%, 30%);
  --secondary-color: hsl(153, 20%, 68%);

  --text-color: hsla(0, 0%, 28%, 1);
  --text-color-light: hsla(0, 0%, 98%,1);
}