.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--primary-color);
  box-shadow: var(--box-shadow-medium);
  padding: 20px;
}


.login {
  display: block;
  margin-left: auto;
}