.ProfileCard {
  padding: 20px;
  border: 2px dashed var(--primary-color);
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
